:root {
  /* Colors */
  --background-color: #ebfaeb;
  --button-color: #f5b06c;
  --background-container: #fff;
  --color-failed-input: #f00;
  --color-result: #73c771;
  --background-color-result: #666;

  /* fonts sizes */
  --root-font-size: 16px;
  --font-weight: 550;
  font-size: var(--root-font-size);

  /* font families */
  --font-title: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana;
  --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}
header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 12rem 0 0 0;
}
header figure {
  margin-right: 10px;
}
svg {
  margin-top: 7px;
}

h1 {
  font-family: var(--font-title);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: var(--background-container);
}
.container h2 {
  font-size: small;
  color: #665;
}

.number-input {
  padding: 8px;
  border-radius: 0.5rem;
  margin: 4px 0;
  font-size: medium;
}

.container span {
  margin: 10px 0;
  color: red;
}

.Hidden {
  display: none;
}

.container button {
  margin-top: 10px;
  background-color: var(--button-color);
  border: 0 solid;
  width: auto;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: medium;
  transition: 1s ease;
}

button:hover {
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}

.text-output-container {
  font-size: smaller;
}
.output {
  height: 6rem;
  background-color: #d4d4d4;
  border-radius: 0.5rem;
  padding: 0.5px;
}
.output p {
  font-size: 1rem;
  text-align: center;
}
.output p.numbers {
  color: rgb(42, 82, 55);
}
.output p.converter {
  color: rgb(0, 0, 80);
}

footer p {
  margin: 10px auto;
  max-width: fit-content;
}
